@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.title{
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 400;
}

body{
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
    

.done {
    text-decoration: line-through; 
    color: #cfcfcf;

}

.normal{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
